*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.logo{
    margin-top: 25px;
    background-image: url(White-Amazon-Logo-PNG-HD-Quality.png);
    background-size:contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;
}


/**box1**/

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

.nav-address{
    height: 50px;
    width: 100px;
}

.add-first{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 12px;
    color: #CCCCCC;
}
.add-sec{
    font-size: 14px;
    font-weight: bolder;
}
.add-icon{
    display: flex;
    justify-content: center;
}

/**box2**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(151, 107, 26);
    height: 40px;
    width: 600px;
    border-radius: 10px;
}
.nav-search:hover{
    border: 2px solid orangered ;
}
.search-select{
    font-size: 12px;
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}
.search-input{
    width: 500px;
    font-size: 15px;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* box#4 */

.nav-signin{
    height: 50px;
    width: 150px;
}
.signin-text{
    margin-top: 15px;
    font-size: 12px;
    color: #ffffff;
}
.accountlist{
    font-size: 14px;
    color: #ffffff;
    font-weight: bolder;
}
.account{
    display: flex;
}

/* box#5 */
.order{
height: 50px;
width: 80px;
}
.first{
    margin-top: 15px;
    font-size: 12px;
}
.second{
    font-size: 14px;
    font-weight: bolder;
}

/* box#6 */

.cart{
    height: 40px;
    width: 90px;
    display: flex;
    align-items: center;
    
}
.cart-text{
    padding-top: 30px;
    font-size: 14px;
    font-weight: bolder;
}
.cart i{
    padding-top: 30px;
    font-size: 20px;
}

/* panel */
.panel{
    display: flex;
    height: 40px;
    align-items: center;
    background-color: #060237;
    color: #ffffff;
    font-size: 14px;
    font-family: arial;
    padding: 5px;
    
}
.panel-all{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 60px;
}
.panel-options p{
    display: inline;
    justify-content: space-around;   
    margin-right: 25px;
}



/* hero section */
.hero-section{
    background-image: url(hero_section_image.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    
}
.hero-msg{
    height: 30px;
    width: 80%;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 12px;
    margin-bottom: 20px;
    
}
.hero-msg a{
    color: rgb(45, 158, 227);
}


.content-section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.gaming{
    height: 400px;
    width: 30%;
    padding: 15px;
    background-color: #f3f3f3;
}
.gaming h2{
    padding: 5px;
    font-size: 21px;
    font-family: Arial,sans-serif;
}
.gaming-image{
    height: 80%;
    background-image:url('gaming.jpg');
    background-size: cover;
    margin-bottom: 10px;
}
.gaming a{
    font-size: 13px;
    font-family: Arial, sans-serif;
}


/* box2 */
.home-essentials{
    height: 400px;
    width: 30%;
    padding: 15px;
    background-color: #f3f3f3;
}
.home-essentials h2{
    padding: 5px;
    font-size: 21px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}
.home-essential-content{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 10px;
}
.box{
    width: 45%;
    margin-bottom: 10px;
}
.box img{
    width: 100%;
    display: block;
    margin-bottom: 5px;
}
.box p{
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin: 5px;
}

.home-essentials a{
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}


/* box3 */
.fashion{
    height: 400px;
    width: 30%;
    padding: 15px;
    background-color: #f3f3f3;
}
.fashion h2{
    padding: 5px;
    font-size: 21px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}
.fashion-content{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 10px;
}
.box{
    width: 45%;
    margin-bottom: 10px;
}
.box img{
    width: 100%;
    display: block;
    margin-bottom: 5px;
}
.box p{
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin: 5px;
}

.fashion a{
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

/* box5 */
.home-arrival{
    height: 400px;
    width: 30%;
    padding: 15px;
    background-color: #f3f3f3;
}
.home-arrival h2{
    padding: 5px;
    font-size: 21px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}
.home-arrival-content{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 10px;
}
.box{
    width: 45%;
    margin-bottom: 10px;
}
.box img{
    width: 100%;
    display: block;
    margin-bottom: 5px;
}
.box p{
    color: black;
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin: 5px;
}

.home-arrival a{
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

/* box6 */
.fashion-trends{
    height: 400px;
    width: 30%;
    padding: 15px;
    background-color: #f3f3f3;
}
.fashion-trends h2{
    padding: 5px;
    font-size: 21px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}
.fashion-trends-content{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 10px;
}
.box{
    width: 45%;
    margin-bottom: 10px;
}
.box img{
    width: 100%;
    display: block;
    margin-bottom: 5px;
}
.box p{
    color: black;
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin: 5px;
}

.fashion-trends a{
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}
/* footer */
.panel-one{
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    font-family: Arial, sans-serif;
}
.panel-two{
    height: 400px;
    padding-top: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: center;
}
ul p{
    font-weight: bolder;
}
ul a{
    margin: 5px;
    font-size: smaller;
    color: #dddddd;
    display: block;
    text-decoration: none;   
}
ul a:hover{
    text-decoration: solid;
}
.panel-three{
    background-color: #222f3d;
    border-top: 2px solid #dddddd;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px ;
}
.panel-three div{
    margin-left: 10px;
}
/* amazon logo */
.logo{
    height: 50px;
    width: 100px;
    background-image: url('White-Amazon-Logo-PNG-HD-Quality.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 150px;
}
/* language dropdown */
.language{
    padding: 10px;
    border: 0.5px solid white;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.language p{
    font-size: 13px;
    margin: 0px 20px 0px 2px;
}
.language i{
    color: #dddddd;
    font-size: 13px;
}
/* pakistan dropdown */
.pakistan{
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid white;
}
.pakistan p{
    color: #CCCCCC;
    margin: 5px;
}
/* usa */
.usa{
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid white;
}
.usa i{
    color: #f3f3f3;
    margin: 0px 20px 0px 5px;
}
.usa p{
    color: #CCCCCC;
    font-size: 13px;
    margin-right: 5px;
}

.panel-four{
    padding: 20px 0px 20px;
    background-color: #131a22;
}
.panel-four-a{
    display: flex;
    color: #ffffff;
    font-size: 12px;
    justify-content: center;
    margin-bottom: 5px;
}
.panel-four-a p{
    margin-right: 15px;
}
p{
    display: flex;
    justify-content: center;
    color: #f3f3f3;
    font-size: 12px;
}


