*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.logo{
    margin-top: 25px;
    background-image: url(White-Amazon-Logo-PNG-HD-Quality.png);
    background-size:contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;
}


/**box1**/

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

.nav-address{
    height: 50px;
    width: 100px;
}

.add-first{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 12px;
    color: #CCCCCC;
}
.add-second{
    font-size: 14px;
    font-weight: bolder;
    margin-left: 8px;
}
.add-icon{
    display: flex;
    justify-content: center;
}

/**box2**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(151, 107, 26);
    height: 40px;
    width: 600px;
    border-radius: 10px;
}
.nav-search:hover{
    border: 2px solid orangered ;
}
.search-select{
    font-size: 12px;
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}
.search-input{
    width: 500px;
    font-size: 15px;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* box#4 */

.nav-signin{
    height: 50px;
    width: 150px;
}
.signin-text{
    margin-top: 15px;
    font-size: 12px;
    color: #ffffff;
}
.accountlist{
    font-size: 14px;
    color: #ffffff;
    font-weight: bolder;
}
.account{
    display: flex;
}

/* box#5 */
.order{
height: 50px;
width: 80px;
}
.first{
    margin-top: 15px;
    font-size: 12px;
}
.second{
    font-size: 14px;
    font-weight: bolder;
}

/* box#6 */

.cart{
    height: 40px;
    width: 90px;
    display: flex;
    align-items: center;
}
.cart-text{
    margin-top: 10px;
    font-size: 14px;
    font-weight: bolder;
}
.cart i{
    font-size: 30px;
}



